.navbar {
  background-color: #574ae2;
  height: 50px;
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navContainer {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar a {
  color: white;
  padding: 0 15px;
  text-decoration: none;
  line-height: 50px;
}

.accent {
  color: white;
}

@font-face {
  font-family: "SpaceMono";
  src: local("SpaceMonoBold"), url(/fonts/SpaceMono-Bold.ttf) format("truetype");
}

.spaceMono {
  font-family: "SpaceMono";
  color: black;
  font-size: 3rem;
}
